<div class="gallery" id="proyectos" >
    <div class="contenedor">
        <h2 class="subtitulo">Proyectos</h2>
        <div class="contenedor-gallery">
            <img src="/assets/boho-1.jpg" alt="boho-one" width="80%" class="img-gallery">
            <img src="/assets/boho-2.jpg" alt="boho-two"width="80%" class="img-gallery" >
            <img src="/assets/boho-3.jpg" alt="boho-three"width="80%" class="img-gallery">
    </div>
</div>
</div> 
<div class="imagen-light">
<img src="/assets/close.svg" alt="" class="close">
<img src="" alt="" class="agregar-imagen">
</div>