
    <div class="contenedor-encabezado">
        <img src="/assets/perfil-redondo.jpg" alt="Daniela Morandin" class="perfil-redondo" width=50%>
        <div class="checklist-encabezado">
            <div class="pencil-encabezado">
                <a href="./" class="pencil-encabezado">
                    <i class='bx bxs-edit'></i>
                </a> </div>   
            <div class="info-encabezado">
                <p>Data Entry en BA Marketing. Estudiante en #YoProgramo</p>
                <p class="copy">Buenos Aires, Argentina.</p>
                <div class="info-encabezado-logo">
                    <ul class="info-encabezado-logo">
                   <li> <img src="/assets/Aagentina-programa.png"  alt="Argentina Programa" width=10%>
                <h3>#YoProgramo</h3></li>
            <li> <img src="/assets/BAM.jpg" alt="BAM" width=20%>
            <h3>BA Marketing</h3></li></ul>
                </div>
            </div>

            <div class="info-contacto-encabezado">
                <p>Información de contacto</p></div>
            </div>   
            <div class="contenedor" id="botones">
                <a href="./" class="btn btn-light" target="_blank">Tengo interés en</a>
                <a href="./" class="btn btn-light" target="_blank">Añadir Sección</a>
                <a href="./" class="btn btn-light" target="_blank">Más</a>
                </div>
        </div>
    
