
   <div>
   <ul class="menu">
        <li><a href="./" class="menu-icon"><i class='bx bxl-facebook'></i>  </a></li>
        <li><a href="./" class="menu-icon"><i class='bx bxl-twitter'></i>  </a></li>
        <li><a href="./" class="menu-icon"><i class='bx bxl-instagram-alt'></i>  </a></li>
        <li id="login"><a href="./" >Login</a></li>
    </ul>
    
<header class="header" id="inicio">
    <div class="contenedor-head">
        <h1 class="titulo">Daniela Morandin</h1>
        <p class="copy">Estudiante de programación</p>
    </div>
</header>
<div>
   <app-encabezado></app-encabezado>
</div>

        <div class="contenedor" id="acerca-de">
            <div class="contenedor-acerca-de">
                <h2 class="subtitulo">Acerca De</h2>
                <div class="acerca-de">
                <div class="cont-acerca-de">
                    <div class="pencil-acerca-de">
                        <a href="./" class="pencil-icon">
                            <i class='bx bxs-edit'></i>
                        </a></div>    
                    <div class="trash-icon">
                        <a href="./" class="trash-icon">
                          <i class='bx bx-trash'></i></a></div>           
            <div>
                <p class="texto-acerca-de">Actualmente estudiante de Full Stack Developer en el programa del Gobierno #YoProgramo</p>
            
            </div>
            </div>     
            </div>
        </div>     
        
        <div class="contenedor" id="experiencia">
            <div class="contenedor-experiencia">
                <h2 class="subtitulo">Experiencia</h2>
                <div class="experience">
                <div class="cont-experiencia">
                    <div class="pencil-acerca-de">
                        <a href="./" class="pencil-icon">
                            <i class='bx bxs-edit'></i>
                        </a></div>    
                    <div class="trash-icon">
                        <a href="./" class="trash-icon">
                          <i class='bx bx-trash'></i></a></div>           
                    <img src="/img/BAM.jpg" alt="BAM" class="img-experiencia">
                    <h3>BA Marketing, 2022.</h3>
                    <h4>Data Entry</h4>
            <p class="copy">Procesamiento de planillas.</p>
                </div>
                <div class="cont-experiencia">
                    <div class="pencil-acerca-de">
                        <a href="./" class="pencil-icon">
                            <i class='bx bxs-edit'></i>
                        </a></div>
                    <div class="trash-icon">
                        <a href="./" class="trash-icon">
                            <i class='bx bx-trash'></i>
                        </a>
                    </div>   
                    <img src="/img/FB.jpg" alt="FB" class="img-experiencia">
                <h3>Zapateria Febo, 2012-2020</h3>
                <h4>Empleada Administrativa</h4>
            <p class="copy">Organización, planificación y atención de tareas administrativas.</p>
                </div>
            </div>
        </div> 
        <div class="contenedor" id="educacion">
                <div class="contenedor-educacion">
                    <h2 class="subtitulo">Educación</h2>
                    <section class="education">
                    <div class="cont-educacion">
                        <div class="pencil-acerca-de">
                            <a href="./" class="pencil-icon">
                                <i class='bx bxs-edit'></i>
                            </a></div>
                        <div class="trash-icon">
                            <a href="./" class="trash-icon">
                                <i class='bx bx-trash'></i>
                            </a>
                        </div>   
                        <img src="/img/Aagentina-programa.png"  alt="Argentina Programa" class="img-education">
                        <h3>Argentina Programa, 2022</h3>
                        <h4>#YoProgramo</h4>
                        <p class="copy">Full Stack Developer.</p>
                </div>
                <div class="cont-educacion">
                    <div class="pencil-acerca-de">
                        <a href="./" class="pencil-icon">
                            <i class='bx bxs-edit'></i>
                        </a></div>
                    <div class="trash-icon">
                        <a href="./" class="trash-icon">
                            <i class='bx bx-trash'></i>
                        </a>
                    </div>   
                <img src="/img/liceo.jpg" alt="liceo" class="img-education">
                <h3>Liceo Británico, 2022</h3>
                <h4>Nivel avanzado</h4>
                <p class="copy"> FCE y Advanced rendidos y aprobados.</p>
                </div>    
            </section>
        </div>         
        <section class="gallery" id="proyectos" >
            <div class="contenedor">
                <h2 class="subtitulo">Proyectos</h2>
                <div class="contenedor-gallery">
                    <img src="/img/boho-1.jpg" alt="boho-one" width="80%" class="img-gallery">
                    <img src="/img/boho-2.jpg" alt="boho-two"width="80%" class="img-gallery" >
                    <img src="/img/boho-3.jpg" alt="boho-three"width="80%" class="img-gallery">
            </div>
        </div>
    </section> 
     <section class="imagen-light">
      <img src="/img/close.svg" alt="" class="close">
        <img src="" alt="" class="agregar-imagen">
    </section>
        <div class="contenedor" id="hard-and-soft-skills">
            <div class="cont-skills">
                <h2 class="subtitulo">Hard and Soft Skills</h2>
                <div class="contenedor-skills">
                    <div>
                        <canvas id="myChart" width="50"% ></canvas>
                      </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
         
 
    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">Daniela Morandin</h2>
                <p>Argentina Programa #YoProgramo</p>
            </div>
            <div class="social-media">
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-facebook'></i>  
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-twitter'></i>   
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-instagram-alt' ></i>   
                </a>
            </div>
        </div>
        <div class="line"></div>
    </footer>
    <!--Enlace a Arhivos-->
    <script src="/js/lightbox.js"></script>
</div>
