
    <div class="contenedor-encabezado">
        <img src="{{persona[1].img}}" alt="Daniela Morandin" class="perfil-redondo" width=50%>
        <div class="checklist-encabezado">
            <div class="pencil-encabezado">
                <a href="./" class="pencil-encabezado">
                    <i class='bx bxs-edit'></i>
                </a> </div>   
            <div class="info-encabezado">
                <p>{{persona[1].sobreMi}}</p>
                <p class="copy">{{persona[1].ubicacion}}</p>
                <div class="info-encabezado-logo">
                    <ul class="info-encabezado-logo">
                   <li> <img src="{{educacion[0].imgE}}"  alt="Argentina Programa" width=10%>
                <h3>{{educacion[0].nombreE}}</h3></li>
            <li> <img src="{{experiencia[0].imgE}}" alt="BAM" width=20%>
            <h3>{{experiencia[0].nombreE}}</h3></li></ul>
                </div>
            </div>

            <div class="info-contacto-encabezado">
                <p>{{persona[1].email}}</p></div>
            </div>   
           <!-- <div class="contenedor" id="botones">
                <a href="/" class="btn btn-light" target="_blank">Tengo interés en</a>
                <a href="./" class="btn btn-light" target="_blank">Añadir Sección</a>
                <a href="./" class="btn btn-light" target="_blank">Más</a>
                </div> -->
        </div>
    
