
    <div class="contenedor-encabezado">
        <img [src]="miPortfolio.image" alt="Daniela Morandin" class="perfil-redondo" width=50%>
        <div class="checklist-encabezado">
            <div class="pencil-encabezado">
                <a href="./" class="pencil-encabezado">
                    <i class='bx bxs-edit'></i>
                </a> </div>   
            <div class="info-encabezado">
                <p>{{miPortfolio.about}}</p>
                <p class="copy">{{miPortfolio.ubication}}</p>
                <div class="info-encabezado-logo">
                    <ul class="info-encabezado-logo">
                   <li> <img [src]="miPortfolio.school.img"  alt="Argentina Programa" width=10%>
                <h3>#YoProgramo</h3></li>
            <li> <img [src]="miPortfolio.company.img" alt="BAM" width=20%>
            <h3>{{miPortfolio.company.name}}</h3></li></ul>
                </div>
            </div>

            <div class="info-contacto-encabezado">
                <p>{{miPortfolio.contact}}</p></div>
            </div>   
            <div class="contenedor" id="botones">
                <a href="./" class="btn btn-light" target="_blank">Tengo interés en</a>
                <a href="./" class="btn btn-light" target="_blank">Añadir Sección</a>
                <a href="./" class="btn btn-light" target="_blank">Más</a>
                </div>
        </div>
    
