<div class="contenedor" id="experiencia">
    <div class="contenedor-experiencia">
        <h2 class="subtitulo">Experiencia</h2>
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
        
        <section class="experience" >
        <div class="cont-experiencia" *ngFor="let Experiencia of expe">
            <div class="pencil-acerca-de">
                <a href="./" class="pencil-icon">
                    <i class='bx bxs-edit'></i>
                </a></div>    
            <div class="trash-icon">
                <a href="./" class="trash-icon">
                  <i class='bx bx-trash'></i></a></div>           
            <img src="{{expe[1].imgE}}" alt="BAM" class="img-experiencia">
            <h3>{{expe[1].nombreE}}</h3>
            <h4>{{expe[1].puestoE}}</h4>
    <p class="copy">Inicio: {{expe[1].inicioE}}</p>
    <p class="copy">Fin: {{expe[1].finE}}</p>
        </div>
       <!-- <div class="cont-experiencia">
            <div class="pencil-acerca-de">
                <a href="./" class="pencil-icon">
                    <i class='bx bxs-edit'></i>
                </a></div>
            <div class="trash-icon">
                <a href="./" class="trash-icon">
                    <i class='bx bx-trash'></i>
                </a>
            </div>   
            <img [src]="experiencia.img" alt="FB" class="img-experiencia">
        <h3>{{experiencia.nombreE}}</h3>
        <h4>{{experiencia.puestoE}}</h4>
    <p class="copy">Inicio: {{experiencia.inicio}}</p>
    <p class="copy">Fin: {{experiencia.fin}}</p>
        </div>-->
    </section>
</div> 
