<div class="contenedor" id="experiencia">
    <div class="contenedor-experiencia">
        <h2 class="subtitulo">Experiencia</h2>
        
        <section class="experience" >
        <div class="cont-experiencia" *ngFor="let exp of experiencia">
            <div class="pencil-acerca-de">
                <a href="./" class="pencil-icon">
                    <i class='bx bxs-edit'></i>
                </a></div>    
            <div class="trash-icon">
                <a href="./" class="trash-icon">
                  <i class='bx bx-trash'></i></a></div>           
            <img src="{{exp.img}}" alt="BAM" class="img-experiencia">
            <h3>{{exp.nombre}}</h3>
            <h4>{{exp.puesto}}</h4>
    <p class="copy">Inicio: {{exp.inicio}}</p>
    <p class="copy">Fin: {{exp.fin}}</p>
        </div>
       <!-- <div class="cont-experiencia">
            <div class="pencil-acerca-de">
                <a href="./" class="pencil-icon">
                    <i class='bx bxs-edit'></i>
                </a></div>
            <div class="trash-icon">
                <a href="./" class="trash-icon">
                    <i class='bx bx-trash'></i>
                </a>
            </div>   
            <img [src]="experiencia.img" alt="FB" class="img-experiencia">
        <h3>{{experiencia.nombre}}</h3>
        <h4>{{experiencia.puesto}}</h4>
    <p class="copy">Inicio: {{experiencia.inicio}}</p>
    <p class="copy">Fin: {{experiencia.fin}}</p>
        </div>-->
    </section>
</div> 
