
        <div class="contenedor" id="educacion">
            <div class="contenedor-educacion">
                <h2 class="subtitulo">Educación</h2>
                <section class="education">
                <div class="cont-educacion">
                    <div class="pencil-acerca-de">
                        <a href="./" class="pencil-icon">
                            <i class='bx bxs-edit'></i>
                        </a></div>
                    <div class="trash-icon">
                        <a href="./" class="trash-icon">
                            <i class='bx bx-trash'></i>
                        </a>
                    </div>   
                    <img src="/assets/Aagentina-programa.png"  alt="Argentina Programa" class="img-education">
                    <h3>Argentina Programa, 2022</h3>
                    <h4>#YoProgramo</h4>
                    <p class="copy">Full Stack Developer.</p>
            </div>
            <div class="cont-educacion">
                <div class="pencil-acerca-de">
                    <a href="./" class="pencil-icon">
                        <i class='bx bxs-edit'></i>
                    </a></div>
                <div class="trash-icon">
                    <a href="./" class="trash-icon">
                        <i class='bx bx-trash'></i>
                    </a>
                </div>   
            <img src="/assets/liceo.jpg" alt="liceo" class="img-education">
            <h3>Liceo Británico, 2022</h3>
            <h4>Nivel avanzado</h4>
            <p class="copy"> FCE y Advanced rendidos y aprobados.</p>
            </div>    
        </section>
    </div>         
