<div class="contenedor" id="experiencia">
    <div class="contenedor-experiencia">
        <h2 class="subtitulo">Experiencia</h2>
        <div class="experience">
        <div class="cont-experiencia">
            <div class="pencil-acerca-de">
                <a href="./" class="pencil-icon">
                    <i class='bx bxs-edit'></i>
                </a></div>    
            <div class="trash-icon">
                <a href="./" class="trash-icon">
                  <i class='bx bx-trash'></i></a></div>           
            <img src="/assets/BAM.jpg" alt="BAM" class="img-experiencia">
            <h3>BA Marketing, 2022.</h3>
            <h4>Data Entry</h4>
    <p class="copy">Procesamiento de planillas.</p>
        </div>
        <div class="cont-experiencia">
            <div class="pencil-acerca-de">
                <a href="./" class="pencil-icon">
                    <i class='bx bxs-edit'></i>
                </a></div>
            <div class="trash-icon">
                <a href="./" class="trash-icon">
                    <i class='bx bx-trash'></i>
                </a>
            </div>   
            <img src="/assets/FB.jpg" alt="FB" class="img-experiencia">
        <h3>Zapateria Febo, 2012-2020</h3>
        <h4>Empleada Administrativa</h4>
    <p class="copy">Organización, planificación y atención de tareas administrativas.</p>
        </div>
    </div>
</div> 
