<div class="contenedor" id="proyectos">
    <div class="contenedor-experiencia">
    <h2 class="subtitulo">Proyectos</h2>
    <button type="button" class="btn btn-dark" routerLink="/nuevoproy" *ngIf="isLogged">
        Nuevo Proyecto
    </button>
    <section>
<!--<div class="contenedor-gallery" *ngFor="let Proyectos of proyectos"> 
    <div class="col-sm-12 col-md-7 col-lg-7">
        <h4>{{Proyectos.nombreE}}</h4>
        <h5>{{Proyectos.fechaE}}</h5>
        <p>{{Proyectos.descripcionE}}</p>
        <h6>{{Proyectos.linkE}}</h6>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1" *ngIf="Proyectos.imgE">
        <img src="{{Proyectos.imgE}}" alt="boho-one"width="80%" class="img-gallery img-fluid">
    </div>
 
</div> -->

<div class="col lg 1"></div>
<div class="col-lg-11">
    <table class="table">
<tbody>
    <tr *ngFor="let Proyectos of proyectos">
        <td>
            <h2>{{Proyectos.nombreE}}</h2>
        </td>
        <td>{{Proyectos.descripcionE}}</td>
        <td>{{Proyectos.fechaE}}</td>
        <td>{{Proyectos.linkE}}</td>
        <td *ngIf="isLogged">
            <button class="btn btn-danger" routerLink="/editproy/{{Proyectos.id}}">
                <i class="bi bi-pencil-fill"></i> EDITAR</button>
        </td>
        <td *ngIf="isLogged">
            <button class="btn btn-light" (click)="delete(Proyectos.id)">
                <i class="bi bi-trash-fill"></i> BORRAR</button>
        </td>
    </tr>
</tbody>
</table>
</div>

